@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-100: #ffe8f0;
  --color-primary-DEFAULT: #ee2b69;
  --color-secondary: #fbe843;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;
  --color-black-DEFAULT: #000000;
  --color-white-100: #f7f7f7;
  --color-white-DEFAULT: #ffffff;

  --font-family-work-sans: var(--font-work-sans);

  --border-radius-lg: var(--radius);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-sm: calc(var(--radius) - 4px);

  --box-shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --box-shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --box-shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans);
}
/* @tailwind utilities; */
